body{
    background: url(/img/image2.jpg);
    background-size: 1300px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2{
    display: inline;
    color: wheat;
    border: 2px dotted black;
    /* margin-top: 50px;
    margin-left: 50px;
    padding: 15px; */
}