body{
    background: url(/img/image2.jpg);
    background-size: 1300px 750px;
    background-repeat: no-repeat;
    /*background-repeat: x; */
    background-attachment: fixed;
    /* background-attachment: scroll; */
}

