body{
    background: url(/img/image2.jpg);
    background-size: 1300px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .header{
    border: 2px solid black;
} */

.header a{
    border: 3px solid black;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 40px;
    padding: 15px;
}