p {
    color: rgb(71, 66, 66);
    background-color: burlywood;
    font-size: 20px;
}

#secondptag {
    color: rgb(255, 106, 0);
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}